/bower_components
/node_modules
/beadifier/beadify.exe
/beadifier/*.json
/beadifier/cygboost_regex-1_58.dll
/beadifier/cyggcc_s-seh-1.dll
/beadifier/cygicudata56.dll
/beadifier/cygicui18n56.dll
/beadifier/cygicuuc56.dll
/beadifier/cygstdc++-6.dll
/beadifier/cygwin1.dll
/public/bower_components
/models
/development/models/pikachu/large.obj
/voxelify/cygboost_regex-1_58.dll
/voxelify/cyggcc_s-seh-1.dll
/voxelify/cygicudata56.dll
/voxelify/cygicui18n56.dll
/voxelify/cygicuuc56.dll
/voxelify/cygstdc++-6.dll
/voxelify/cygwin1.dll
/voxelify/pikachu.json
/voxelify/voxelify.exe
/voxelify/FreeImage
/voxelify/example.tga
/voxelify/cygfreeimage-3.17.0.dll
/voxelify/example.png
/voxelify/tga2png.exe
/voxelify/model.zip
/voxelify/model
/voxelify/zip2obj.exe
