<ul class="nav navbar-nav navbar-right">
  <li ng-if="!user && clientId" style="padding-top: 8px">
    <google-plus-signin 
      clientid="{{clientId}}" 
      width="standard"
    ></google-plus-signin>
  </li>
  <li class="dropdown" ng-show="user">
    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      <img ng-src="{{user.image}}" class="profile-icon"/>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li class="dropdown-header">Signed in as <b>{{user.name}}</b></li>
      <li role="separator" class="divider"></li>
      <li><a href="#/profile">Your profile</a></li>
      <li><a href="#/stars">Your stars</a></li>
      <li role="separator" class="divider"></li>
      <li><a ng-click="logout()" href="">Sign out</a></li>
    </ul>
  </li>
</ul>