<h1>Import OBJ file</h1>

<div id="upload-zone">
  Drop your OBJ file here!
  <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
  <div class="dz-error-message"><span data-dz-errormessage></span></div>
</div>

<div>
  <ul>
    <li ng-repeat="model in models">
      {{model.displayName}} ({{model.size | bytes}})
      <a ng-href="{{'/uploads/'+model.name}}" target="_blank" title="Download" class="action"><span class="glyphicon glyphicon-download-alt"/></a> 
      <a ng-click="removeModel(model.name)" title="Remove model" class="action"><span class="glyphicon glyphicon-trash"/></a>
    </li>
  </ul>
  List of uploaded models, File operations (delete), Size
</div>