<div class="container-fluid fill">
  <div class="row fill">
    <div ng-include="'views/header.html'"></div>
    
    <div class="col-sm-6 fill">
      <h2>Select model
        <form style="display: none">
          <input id="uploadButton" type="file" file-model="uploadFile" accept=".obj"/>
        </form>
        <button class="btn btn-default" ng-click="upload()" title="Upload" ng-disabled="uploading">
          <span ng-hide="uploading"><span class="glyphicon glyphicon-upload"/> UPLOAD</span>
          <div class="progress" ng-hide="!uploading" style="width: 50px; margin: 0;">
            <div class="progress-bar" role="progressbar" ng-style="{ width: uploadProgress+'%' }"></div>
          </div>
        </button>
        <button class="btn btn-default" ng-click="refresh()" title="Refresh">
          <span class="glyphicon glyphicon-refresh"/>
        </button>
        <button class="btn btn-default" ng-click="download(selection.model)" ng-disabled="selection.model == null" title="Download">
          <span class="glyphicon glyphicon-download"/>
        </button>
        <button class="btn btn-danger" ng-click="tryRemoveModel(selection.model)" ng-disabled="selection.model == null" title="Remove">
          <span class="glyphicon glyphicon-trash"/>
        </button>
      </h2>
      
      <div>
        <ul class="list-group">
          <li ng-class="{ 'list-group-item-action': true, 'list-group-item': true, active: selection.model == model.name }" ng-repeat="model in models">
            <label>
              <input type="radio" ng-value="model.name" ng-model="selection.model"/>
              {{model.displayName}}
              <span class="badge">{{model.size | bytes}}</span>
            </label>
          </li>
        </ul>
      </div>

      <button class="btn btn-default" ng-click="back()">Back</button>
      <button class="btn btn-success" ng-click="next()" ng-disabled="selection.model == null">
        NEXT
      </button>
    </div>
    <div class="col-sm-6 fill">
      <viewer object="selection.model3D"></viewer>
    </div>
  </div>
</div>

<div id="removeDialog" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Deletion</h4>
      </div>
      <div class="modal-body">
        <p>Do you really want to delete this model?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="removeModel()">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->