<div class="container-fixed fill">
  <div class="row fill">
    <div class="col-sm-6 fill">
      <h2>Select model
        <form style="display: none">
          <input id="uploadButton" type="file" file-model="uploadFile" accept=".zip"/>
        </form>
        <button class="btn btn-default" ng-click="upload()" title="Upload" ng-disabled="uploading">
          <span ng-hide="uploading"><span class="glyphicon glyphicon-upload"/> UPLOAD</span>
          <div class="progress" ng-hide="!uploading" style="width: 50px; margin: 0;">
            <div class="progress-bar" role="progressbar" ng-style="{ width: uploadProgress+'%' }"></div>
          </div>
        </button>
        <button class="btn btn-default" ng-click="refresh()" title="Refresh">
          <span class="glyphicon glyphicon-refresh"/>
        </button>
      </h2>
      
      <script type="text/ng-template" id="uploadTree.html">
        <div>
          <span ng-click="(node.type != 'file' && toggleNode(node))" class="tree-item">
            <span 
              ng-if="node.type != 'file'" 
              ng-class="{ glyphicon: true, 'glyphicon-folder-open': node.expanded,  'glyphicon-folder-close': !node.expanded }"
            />
            {{node.name}}
            <span class="badge" ng-if="node.type == 'file'">{{node.size | bytes}}</span>
          </span>
          <button
            class="btn btn-danger tree-item-button"
            ng-if="node.type == 'upload'"
            ng-click="tryRemoveUpload(node.name)" 
            title="Remove"
          >
            <span class="glyphicon glyphicon-trash"/>
          </button>
        </div>
        <ol class="tree list-group" ng-show="node.type != 'file' && node.expanded">
          <li 
            class="list-group-item" 
            ng-click="node.type == 'file' && (selection.model = node.path)"
            ng-class="{ active: node.type == 'file' && selection.model == node.path }"
            ng-repeat="node in node.children" ui-tree-node 
            ng-include="'uploadTree.html'">
          </li>
        </ol>
      </script>
      
      <div>
        <ol class="tree list-group">
          <li class="list-group-item" ng-repeat="node in uploads" ui-tree-node ng-include="'uploadTree.html'"></li>
        </ol>
      </div>

      <button class="btn btn-default" ng-click="back()">Back</button>
      <button class="btn btn-success" ng-click="next()" ng-disabled="selection.model == null">
        NEXT
      </button>
    </div>
    <div class="col-sm-6 fill">
      <viewer object="selection.model3D"></viewer>
    </div>
  </div>
</div>

<div id="removeDialog" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Deletion</h4>
      </div>
      <div class="modal-body">
        <p>Do you really want to delete this model?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="removeUpload()">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->