<wizard on-finish="next()" hide-indicators="true" template="app/views/wizard.html"> 
  <wz-step title="demo">
    <threejs-control is-loading="false" background-color="rgb(123,0,255)">
      <threejs-arc-ball-controls rotation="rot" debug-from="camstart" debug-to="camend" radius="mmmodelradius"/>
      <threejs-layer>
        <threejs-directional-light position="pos"/>
        <threejs-group rotation="rot" scale="mmmodelsca">
          <threejs-model model="mmmodel" position="mmmodelpos"/>
        </threejs-group>
      </threejs-layer>
      <threejs-layer>
        <threejs-line to="camstart" color="rgb(255,255,0)"/>
        <threejs-line to="camend" color="rgb(0,255,255)"/>
      </threejs-layer>
    </threejs-control>
  </wz-step>
  
  <wz-step title="position">
    <div class="container-fixed fill">
      <div class="row fill">        
        <div class="col-sm-6 fill">
          <h2>
            Position
          </h2>
          <p>
            View:
            <table class="table table-striped">
              <tr>
                <td ng-class="{ info: transformer.mode == null }">
                  Move camera 
                  <button ng-click="transformer.mode = null">
                    <span class="glyphicon glyphicon-move"/>
                  </button>
                </td>
              </tr>
            </table>
          </p>
          <p>
            Model rotation:
            <table class="table table-striped">
              <tr>
                <th>Axis</th>
                <th>Angle (in &circ;)</th>
              </tr>
              <tr ng-repeat="axis in ['X', 'Y', 'Z']">
                <td ng-class="{ info: transformer.mode == axis }">{{axis}}</td>
                <td ng-class="{ info: transformer.mode == axis, 'form-inline': true }">
                  <form class="form-group">
                    <button class="btn btn-default" title="Reset" ng-click="transformer.rotation[axis] = 0">
                      <span class="glyphicon glyphicon-flash"/>
                    </button>
                    <input class="form-control" type="number" min="-360" max="360" ng-model="transformer.rotation[axis]" ng-focus="transformer.mode = axis"/>
                    <button title="Edit in viewer" class="btn btn-default" ng-click="transformer.mode = axis" ng-style="{ color: axis == 'X' ? 'red' : (axis == 'Y' ? 'green' : 'blue') }">
                      <span class="glyphicon glyphicon-arrow-right"/>
                    </button>
                  </form>
                </td>
              </tr>
            </table>    
          </p>
          <button class="btn btn-default" ng-click="back()">Back</button>
          <button wz-next class="btn btn-success">NEXT</button>
        </div>
        
        <div class="col-sm-6 fill">
          <viewer 
            object="transformer.scene"
            rotation="transformer.rotation"
            mode="transformer.mode"
          ></viewer>
        </div>
      </div>
    </div>
  </wz-step>
  <wz-step title="slice">
    <div class="container-fixed fill">
      <div class="row fill">
        <div class="col-sm-6 fill">
          <h1>Slice</h1>
          
          <p>
            View:
            <table class="table table-striped">
              <tr>
                <td ng-class="{ info: slicer.mode == null }">
                  Move camera 
                  <button ng-click="slicer.mode = null">
                    <span class="glyphicon glyphicon-move"/>
                  </button>
                </td>
              </tr>
            </table>
          </p>
          
          <p>
            Slicer rotation:
            <table class="table table-striped">
              <tr>
                <th>Axis</th>
                <th>Angle (in &circ;)</th>
              </tr>
              <tr ng-repeat="axis in ['X', 'Y', 'Z']">
                <td ng-class="{ info: slicer.mode == axis }">{{axis}}</td>
                <td ng-class="{ info: slicer.mode == axis, 'form-inline': true }">
                  <form class="form-group">
                    <button class="btn btn-default" title="Reset" ng-click="slicer.rotation[axis] = 0">
                      <span class="glyphicon glyphicon-flash"/>
                    </button>
                    <input class="form-control" type="number" min="-360" max="360" ng-model="slicer.rotation[axis]" ng-focus="slicer.mode = axis"/>
                    <button title="Edit in viewer" class="btn btn-default" ng-click="slicer.mode = axis" ng-style="{ color: axis == 'X' ? 'red' : (axis == 'Y' ? 'green' : 'blue') }">
                      <span class="glyphicon glyphicon-arrow-right"/>
                    </button>
                  </form>
                </td>
              </tr>
            </table>    
          </p>
          
          <p>
            Slices: {{slicer.size}}
            <table class="table table-striped">
                <tr>
                  <td>
                    <slider 
                      ng-model="slicer.size" 
                      min="1" 
                      step="1" 
                      max="slicer.maxSize" 
                    ></slider>
                  </td>
                </tr>
            </table>
          </p>
          
          <button wz-previous class="btn btn-default">Back</button>
          <button wz-next class="btn btn-success" ng-click="result.compute()">NEXT</button>
        </div>
        
        <div class="col-sm-6 fill">
          <viewer 
            object="slicer.scene"
            rotation="slicer.rotation"
            mode="slicer.mode"
          ></viewer>
        </div>
      </div>
    </div>
  </wz-step>
  <wz-step title="confirm">
    <div class="container-fixed fill">
      <div class="row fill">
        <div class="col-sm-12 fill">
          <h1>Preview
            <button wz-previous class="btn btn-default">Back</button>
            <button class="btn btn-info" wz-next ng-disabled="result.computing">
              <span ng-hide="result.computing">FINISH</span>
              <div class="progress" ng-hide="!result.computing" style="width: 50px; margin: 0;">
                <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ width: result.progress+'%' }"></div>
              </div>
            </button>
          </h1>
          <viewer object="result.scene"></viewer>
        </div>
      </div>
    </div>
  </wz-step>
</wizard>