<div class="container-fixed fill">
  <div class="row fill">
    <div class="col-sm-6 fill">
      <h2>Select model
        <upload-button 
          filter=".zip" 
          action="/uploads" 
          on-upload="refresh()"
          on-error="showError(message)">
        </upload-button>
        <button class="btn btn-default" ng-click="refresh()" title="Refresh">
          <span class="glyphicon glyphicon-refresh"/>
        </button>
      </h2>
      
      <uploads-tree uploads="uploads" selected-file="selection"></uploads-tree>

      <button class="btn btn-default" ng-click="back()">Back</button>
      <button class="btn btn-success" ng-click="next()" ng-disabled="model == null">
        NEXT
      </button>
    </div>
    <div class="col-sm-6 fill">
      <viewer object="model"></viewer>
    </div>
  </div>
</div>